

.recipe-card {
  width: 260px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  background: white;
  transition: transform 0.2s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.03);
}

.recipe-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
}

.recipe-body {
  padding: 16px;
  text-align: center;
}

.recipe-body h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.recipe-body .level {
  font-size: 0.95rem;
  margin-bottom: 12px;
}

.recipe-body button {
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.btnMore{
    background-color: #007bff;
}



.cards-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}






